:root {
    /*Fonts*/
    --default-font: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Jost", sans-serif;
    /*Colors*/

    /*Background*/
    --ct-bg-light: #ffffff;
    --ct-bg-grey: #acacac;
    --ct-bg-primary-light: #5B9279;
    --ct-bg-primary: #8FCB9B;
    --ct-bg-secondary: #8F8073;
    --ct-bg-tertiary: #EAE6E5;
    --ct-bg-dark: #12130F;
    /*Font colors*/
    --ct-color-light: #ffffff;
    --ct-color-primary-light: #b1ffae;
    --ct-accent-color: #5ea15c;
    --ct-color-primary: #3d8b3b;
    --ct-color-secondary: #245223;

    /*Smooth scroll*/
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2,
h3 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--ct-color-primary) !important;
}

h4,
h5 {
    color: var(--ct-color-secondary) !important;
}

ul>li {
    list-style: none;
}

.navbar-collapse {
    transition: 0.5s ease !important;
}
canvas {
    width: 100%;  /* Ocupa el 100% del contenedor padre */
    max-width: 600px;  /* Límite máximo para pantallas más grandes */
    height: auto;  /* Ajusta la altura automáticamente */
}

#main-wrapper {
    display: none;
}

.swiper-container {
    width: 100%;
    background-color: #cfcfcf;
    cursor: pointer;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: var(--ct-bg-grey);
    padding: 2rem;
}

header {
    padding: 15px 0;
    transition: all 0.5s;
    z-index: 3;
}

a.nav-link {
    font-family: var(--heading-font);
    color: var(--ct-color-light);
    padding: 18px 15px;
    transition: .3s;
    font-size: 1.5rem;
}

.nav-link.active-custom {
    color: var(--ct-bg-secondary);
}

.nav-link:hover {
    color: var(--ct-bg-secondary) !important;
}

.nav-link-btn {
    all: unset;
    background-color: var(--ct-accent-color);
    color: var(--ct-color-light);
    padding: 0.5rem;
    border-radius: 2rem;
    min-width: 6.5rem;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.nav-link-btn:hover {
    background-color: var(--ct-bg-primary);
}

.navbar-collapse {
    transition: height 0.5s ease;
}

main {
    min-height: 180vh;
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.hero p {
    color: var(--ct-accent-color);
    font-weight: 600;
}

.hero img {
    position: relative;
    animation: hop 2s linear;
    animation-iteration-count: 5;

}

@keyframes hop {
    0% {
        top: 0px;
    }

    50% {
        top: 5px;
    }

    100% {
        top: 0px;
    }
}

#contact-map {
    height: 20rem;
}

#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.img-container {
    height: 16rem;
    width: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.shadow-sm.p-4.bg-white {
    min-height: 25rem;
}

.custom-card {
    cursor: pointer;
}

.custom-card:hover {
    scale: 110%;
}

.bg-light-success {
    background-color: var(--ct-bg-primary-light);
}

footer .link {
    all: unset;
    cursor: pointer;
}

.bg-custom-secondary {
    background-color: var(--ct-bg-grey);
}

.bg-custom-danger {
    background-color: rgb(247, 192, 192);
}

#datepicker {
    background-color: #f5f5f5;
    border-radius: 5px;
    border: 2px solid #007bff;
    color: #333;
}

.datepicker-dropdown {
    background-color: #fff;
    border: 1px solid #007bff;
    border-radius: 10px;
}

.datepicker table tr td.active {
    background-color: #28a745 !important;
    color: white !important;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    background-color: #e9ecef;
    color: #6c757d;
}

.daterangepicker>div.drp-calendar {
    max-width: none;
}

.daterangepicker .calendar-table tr th,
.daterangepicker .calendar-table tr td,
.datepicker table tr td,
.datepicker table tr th {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 561px) {
    .drp-calendar {
        width: 100%;
    }
    .daterangepicker {
        direction: ltr;
        text-align: left;
        width: 93% !important;
        right: 4rem !important;
    }
}
@media (min-width: 561px) and (max-width: 768px) {
    .drp-calendar {
        width: 100%;
    }
    .daterangepicker {
        direction: ltr;
        text-align: left;
        width: 75% !important;
        right: 4rem !important;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .drp-calendar {
        width: 100%;
    }
    .daterangepicker {
        direction: ltr;
        text-align: left;
        width: 55% !important;
        right: 4rem !important;
    }
}